<% content_for(:header) do -%>
<%= stylesheet_link_tag 'highlight', :media => 'all' %>
<%= javascript_include_tag 'shCore' %>
<%= javascript_include_tag 'shBrushCpp' %>
<%= javascript_include_tag 'shBrushRuby' %>
<%= javascript_include_tag 'shBrushXml' %>
<%= javascript_include_tag 'shBrushCss' %>
<script language="javascript">
window.onload = function () {
    dp.SyntaxHighlighter.ClipboardSwf = '/flash/clipboard.swf';
    dp.SyntaxHighlighter.HighlightAll('code');
}
</script>
<% end -%>
<p><span id="key">Title:</span> <%= @code.title %><br />
<span id="key">User:</span> <%= link_to @code.user.login, :action => 'user', :id => @code.user.login %><br />
<span id="key">Language:</span> <%= @code.language %><br />
<span id="key">Tag:</span> <% for t in @code.tags -%>
<%= link_to t.name, :action => "tag", :id => t.name %> 
<% end -%></p>
<p style="text-align: right;">
<% if current_user == @code.user -%>
&nbsp;&nbsp;&nbsp;<%= link_to "Edit", :action => "edit", :id => h(@code.url) %>&nbsp;&nbsp;&nbsp;
<%= link_to "Delete", :action => "delete", :id => h(@code.url) %>
<% end -%></p>
<textarea name="code" class="<%= @code.language %>:nocontrols" cols="60" rows="10">
<%= @code.code %>
</textarea><blockquote>
<% if @code.comments.count > 0 -%>
<p id="notice"><%= @code.comments.count %> comment(s)</p>
<% for c in @code.comments -%>
<p><span id="key">User:</span> <%= link_to c.user.login, :action => "user", :id => c.user.login %>&nbsp;&nbsp;&nbsp;<span id="key">User:</span><%= c.created_at.to_s %><% if c.user == current_user %>&nbsp;&nbsp;&nbsp;<%= link_to "Delete", :action => "deletecomment", :id => c.id %><% end %>
<div id="comment"><%= simple_format(h(c.body)) %></div>
<% end -%>
<% else -%>
<p id="notice">No comments yet.</p>
<% end -%>
<% if logged_in? -%>
<p id="notice">You can leave a message. User: <%= current_user.login %></p>
<%= error_messages_for :comment %>
<% form_for :comment, :url => {:action => 'show', :id => params[:id]} do |f| -%>
<%= f.text_area :body, :rows => "5" %>
<%= submit_tag %>
<% end -%>
<% else -%>
<p id="notice">Please <%= link_to "log in", :controller => "account", :action => "login" %> to comment on this code.</p>
<% end -%></blockquote>
